@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-green: #417D30;
  --accent: #F24E1E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --color-custom-green: var(--custom-green);
  --color-accent: var(--accent);
}
/* Default light mode */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

/* force light mode if dark mode is enabled */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
